<% title "Recommendations" %>

<% if @recommendations.empty? %>
  Nothing here for you ;_;
<% else %>
  <ul>
    <% for recommendation in @recommendations %>
      <li><%= link_to recommendation.link.title, recommendation.link.url %></li>
    <% end %>
  </ul>
<% end %>

