<% title "Edit Recommendations Recommenders" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @recommendations_recommenders %> |
  <%= link_to "View All", recommendations_recommenders_path %>
</p>
